@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,500&family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,500&family=Mr+Dafoe&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

.front-section{
    background-image: linear-gradient(rgba(42, 47, 79, 0.6),rgba(42, 47, 79, 0.8)),url(../../public/event_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;

}
.title{
    padding: 120px;
    color: #fff;
}
.title p{
    
    color: aliceblue;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed';
    line-height: 1.4;
}
.title h1 {
    font-size: 26px;
    font-family: 'Roboto';
}

.explore{
    background-color:  #2A2F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding: 7px;
    width: 160px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 19px;
    margin-top: 20px;
}
.explore:hover {
    background-color: #CB1C8D;
}
.explore:focus{
    border: none;
    outline: none;
}
.flex_{
    display: flex;
    flex-direction: column;
    /* align-items: center */
}
.flex_row{
    display: flex;
    align-items: center;
    /* align-items: center */
}
.flex_.style{
    margin-bottom: 10px;
}
.description{
    padding: 18px 0px;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Barlow Semi Condensed';
}
