body {
  background-color: aliceblue;
}
.list_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* border-bottom: 1px solid rgb(245, 244, 244); */
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}
.content_details{
    background-color: red;
}
.user_zone {
  display: flex;

  align-items: center;
}
.list_content{
    margin-bottom: 25px;
    /* background-color: blue; */
}
.user_zone span {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  color: rgb(43, 45, 102);
  font-weight: bold;
}
.nav_header {
  position: sticky;
  top: 0;
}
.list_item:hover {
  background-color: rgb(188, 69, 69);
  text-decoration: none;

  .link_title {
    color: white;
    
  }
}
.list_item .link_title:hover {
  text-decoration: none;
}
.list_item span {
  margin-left: 8px;
  font-size: 22px;
}
.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_header ul {
  display: flex;
  align-items: center;
  margin: 6px 8px;
}
.nav_header ul li {
  list-style: none;
  margin: 0px 10px;
}
.nav_header ul li.logout {
  background-color: rgb(188, 69, 69);
  color: white;
  padding: 7px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  text-align: center;
}
.nav_header ul li.profile {
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  cursor: pointer;
}
.nav_header a {
  font-weight: bolder;
  color: black;
  opacity: 0.7;
}
.content_details {
  display: flex;
  align-items: center;
}
.content_details span {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 6px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(35, 35, 69);
}

span.section {
  font-weight: bolder;
  color: rgb(43, 45, 102);
  font-size: 26px;
  opacity: 0.6;
}

.link_title {
  margin: 0px 8px;
  color: rgb(43, 45, 102);
  text-decoration: none;
}
